fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

/* 모든 텍스트 및 비밀번호 입력 필드의 기본 스타일 */
input[type=text], 
input[type=password],
input[type=email],
input[type=search],
textarea,
select {  
  min-height: 50px; 
  line-height: 50px;
  padding: 0 14px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  background-color: var(--color-light-gray);
  color: var(--color-primary);
  font-size: var(--font-size-sm);
  width: 100%;
  box-sizing: border-box; /* 패딩과 보더가 width에 포함되도록 */
  vertical-align: middle;
  transition: border-color 0.2s, background-color 0.2s;
}

input[type=text]:focus, 
input[type=password]:focus,
input[type=email]:focus,
input[type=search]:focus,
textarea:focus,
select:focus {
  border-color: var(--color-accent);
  outline: none; /* 브라우저 기본 포커스 아웃라인 제거 */
}
::placeholder {
  color: var(--color-gray);
  opacity: 1;
}
textarea {
  line-height: 1.5;
  resize: vertical;
}
.sr-only {  
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.action-btn svg {
  width: 34px;
  height: 34px;
  stroke-width: 1px;
}