fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

input[type=text], 
input[type=password],
input[type=email],
input[type=search],
textarea,
select {  
  min-height: 42px; 
  line-height: 40px;
  padding: 0 14px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  background-color: var(--color-light-gray);
  color: var(--color-primary);
  font-size: var(--font-size-sm);
  width: 100%;
  box-sizing: border-box; 
  vertical-align: middle;
  transition: border-color 0.2s, background-color 0.2s;
  cursor: pointer;
}

input[type=text]:focus, 
input[type=password]:focus,
input[type=email]:focus,
input[type=search]:focus,
textarea:focus,
select:focus {
  border-color: var(--color-primary);
  outline: none;
}
::placeholder {
  color: var(--color-gray);
  opacity: 1;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;  
}
textarea {
  line-height: 1.5;
  resize: vertical;
}
.sr-only {  
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.action-btn svg {
  width: 34px;
  height: 34px;
  stroke-width: 1px;
}

main.page-container {
  overflow: hidden;
}

.lucide {
  stroke-width: 1px;
}
@media (max-width: 768px) {
  .action-btn svg {
    width: 24px;
    height: 24px;    
  }
}