:root {  
  --color-primary: #111;
  --color-secondary: #444;
  --color-deep-gray: #777;
  --color-gray: #999;
  --color-light-gray: #f8f8f8;
  --color-accent: #008000;
  --color-white: #fff;
  --color-border: #eee;
  
  --font-family-base: "Noto Sans KR", sans-serif, Arial;
  --font-size-base: 16px;
  --font-size-xl: 52px;
  --font-size-lg: 38px;
  --font-size-md: 24px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;  
  --line-height-base: 1.5;
  
  --layout-max-width: 1750px;  
  --layout-gap: 20px;
  --header-height: 60px;
  --spacing-xl: 150px;
  --spacing-lg: 75px;
  --spacing-md: 20px;
  --spacing-sm: 10px;
  --spacing-xs: 5px;

  --border-radius-base: 20px;
  --border-radius-lg: 25px;
  --border-radius-sm: 15px;
  --border-radius-xs: 5px;
}
body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-primary);
  background-color: var(--color-white);
}