.filter-wrapper {  
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%; 
  max-width: 400px;
  height: 100vh;
  background-color: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;  
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}
.filter.is-active .filter-wrapper {
  transform: translateX(0);
}
.filter-wrapper-bg {
  display: none;
  content: '';  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 900;
}
.filter.is-active .filter-wrapper-bg {
  display: block;
}

.filter__header {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
}
.filter__title {  
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.filter__close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  line-height: 1;
  padding: 0;  
}

.filter__content {
  overflow-y: auto;
  flex-grow: 1;
  padding: 0 20px;  
}
.filter-section {
  padding: 30px 0;
  border-bottom: 1px solid var(--color-border);
}
.filter-section:last-of-type {
  border-bottom: none;
}
.filter-section__title {  
  display: flex;
  justify-content: space-between;
  align-items: center;  
  margin: 0 0 12px;
  font-weight: bold;  
}

.filter-options {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.filter-options__item {
  padding: 8px 15px;
  border: 1px solid var(--color-border);  
  background-color: #fff;
  font-size: var(--font-size-sm); 
}
.filter-options__item:hover {
  border-color: var(--color-primary);
}
.filter-options__item--selected {
  background-color: black;
  color: white;
  border-color: black;
}

.price-range {
  padding: 5px 0;
}
.price-range__track {
  position: relative;
  height: 3px;
  background-color: var(--color-border);
  margin: 15px 0;  
}
.price-range__handle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: var(--color-accent);    
  border-radius: 50%;
  cursor: grab;
}
.price-range__handle--min {
  left: 0%;
}
.price-range__handle--max {
  right: 0%;
}
.price-range__progress {
  position: absolute;
  left: 0;
  height: 100%;    
  width: 100%;
  background-color: var(--color-accent);
  border-radius: 3px;
}
.price-range__display {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;  
  font-size: 14px;
}

.search-input {
  display: flex;    
  overflow: hidden;
  height: 50px;
}
.search-input__field {
  flex-grow: 1;
  border: none;
  padding: 0 10px;    
}
.search-input__button {    
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  padding: 0 10px;
  background-color: var(--color-primary);
  font-size: 18px;  
  color: white;  
}

.filter__footer {
  display: flex;
  gap: 10px;
  padding: 15px 20px;
  background-color: white;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
}
.filter__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-grow: 1;
  padding: 12px 15px;
  border-radius: 8px;  
  font-weight: bold;    
}
.filter__button--reset {
  background-color: white;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}
.filter__button--search {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: white;
}


@media (max-width: 768px) {
  .filter__header,  
  .filter__footer {
      padding:15px 16px;
  }
  .filter__content {
    padding: 0 16px;
  }
}