.swiper-container {
  overflow: hidden;
  position: relative;
}
.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  max-width: var(--layout-max-width);
  margin: 0 auto;
  position: static;  
  opacity: 0.7;
}
.swiper-scrollbar-drag {
  background-color: var(--color-accent);
}

@media (max-width: 1024px) {
  .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
    height: 2px;
  }
}