.product-list.swiper-wrapper {    
  display: flex; 
  grid-template-columns: unset;
  gap: 0;
  padding-bottom: 50px;
}
.swiper-container {
  overflow: hidden;
  position: relative;
}
.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  max-width: var(--layout-max-width);
  margin: 0 auto;
  position: static;  
  opacity: 0.7;
}
.swiper-scrollbar-drag {
  background-color: var(--color-accent);
}
.main-visual .swiper-horizontal>.swiper-scrollbar, .main-visual .swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
  width: 100%;
  height: 10px;
}
.main-visual .swiper-scrollbar-drag {
  border-radius: 0;
}
.visual-list__item {
  position: relative;    
  height: 80vh; 
}
.visual-slide__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.visual-slide__image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.visual-slide__text-area {
  position: absolute;
  z-index: 20; 
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 80%;
}
.visual-slide__text-area p,
.visual-slide__button {    
  transition: transform 1s ease-out, opacity 2s ease-out; 
  opacity: 0;
}
.visual-slide__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
  transform: translateX(30px);
}

.visual-slide__subtitle {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 25px;
  transform: translateX(30px);
  transition-delay: 0.2s;
}
.visual-slide__button {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  transform: translateY(20px);
  transition-delay: 0.4s;
}

.visual-slide__link-line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: currentColor;
}

.swiper-slide-active .visual-slide__text-area p,
.swiper-slide-active .visual-slide__button {    
  transform: translate(0, 0); 
  opacity: 1;
}