.main-footer {
  background-color: var(--color-light-gray);
  padding: var(--spacing-lg) 0;
  color: var(--color-secondary);
  font-size: 13px;
}
.main-footer__container {
  max-width: var(--layout-max-width);
  margin: 0 auto;
  padding: 0 var(--layout-gap);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}
.main-footer__info-group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm, 10px);
}
.main-footer__menu {
  display: flex;
  gap: var(--spacing-md);
  margin-bottom: var(--spacing-sm);
}

.main-footer__menu a {
  font-weight: 500;
  color: var(--color-primary);
}
.main-footer__address {
  font-style: normal;
}
.main-footer__address p,
.main-footer__contact p {
  margin-bottom: 2px;
}
.main-footer__extra-group {
  padding-top: var(--spacing-sm, 10px);
  border-top: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between; 
  align-items: center;
}
.main-footer__social-links {
  display: flex;
  gap: var(--spacing-sm, 10px);
}
.social-btn span {
  font-size: 20px;
  color: var(--color-secondary);
}
.main-footer__copyright {
  font-size: var(--font-size-xs);
}

.top-scroll-btn {    
  display: flex;
  justify-content: center;
  align-items: center;  
  visibility: hidden;
  position: fixed;
  bottom: 30px;   
  right: 30px;    
  z-index: 10;  
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  
  opacity: 0;    
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.top-scroll-btn.is-visible {
  visibility: visible;
  opacity: 1;  
}
.top-scroll-btn__icon { 
  color: var(--color-primary); 
  font-size: 24px;
}


@media (max-width: 768px) {
   .top-scroll-btn {
    bottom: 70px;
    right: 16px;
  }  
  .main-footer__container {      
    justify-content: space-between;
    align-items: flex-start;
  }
  .main-footer__extra-group {
    flex-direction: column;
    align-items: flex-start;
  }
}